.fox-news.card-body {
    background: #003466;
}

.fox-news.card-subtitle {
    color: #007bff;
}

.fox-news.card-text {
    color: white;
}

.fox-news.card-title {
    color: white;
}

.fox-news.card-url {
    color: #C20018;
}
