<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="rssService" type="BalancedBias.Common.Config.Sections.RssServiceSection" />
  </configSections>
  <appSettings configSource="App_Config\LOCAL\appSettings.config" />
  <rssService configSource="App_Config\_BASE\rssService.config" />
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
</configuration>