<?xml version="1.0"?>
<feedRetriever>
  <feeds>
    <add name="huffingtonPost" url="https://www.huffingtonpost.com/section/front-page/feed" />
    <add name="secondNexus" url="https://secondnexus.com/feed/" />
    <add name="msnbc" url="http://www.msnbc.com/feeds/latest" />
    <!--<add name="cnn" url="http://rss.cnn.com/rss/cnn_topstories.rss" />-->
    <add name="twitterRss" url="http://twitrss.me/twitter_user_to_rss/?user=realDonaldTrump" />
    <add name="nyTimes" url="http://rss.nytimes.com/services/xml/rss/nyt/US.xml" />
    <add name="foxNews" url="http://feeds.foxnews.com/foxnews/latest" />
    <add name="redState" url="https://www.redstate.com/feed/" />
  </feeds>
</feedRetriever>