<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="huffingtonPost" url="https://www.huffingtonpost.com/section/front-page/feed" />
    <section name="secondNexus" url="https://secondnexus.com/feed/" />
    <section name="msnbc" url="http://www.msnbc.com/feeds/latest" />
    <section name="cnn" url="http://rss.cnn.com/rss/cnn_topstories.rss" />
    <section name="twitterRss" url="http://twitrss.me/twitter_user_to_rss/?user=realDonaldTrump" />
    <section name="nyTimes" url="http://rss.nytimes.com/services/xml/rss/nyt/US.xml" />
    <section name="foxNews" url="http://feeds.foxnews.com/foxnews/latest" />
    <section name="redState" url="https://www.redstate.com/feed/" />
  </configSections>
</configuration>
