<?xml version="1.0"?>
<rssChannelsService>
  <channels>
    <add name="secondNexus" url="https://secondnexus.com/feed/" icon="https://secondnexus.com/wp-content/uploads/2015/04/secondnexus_logo.png" template="SecondNexusArticleTemplate" />
    <add name="huffingtonPost" url="https://www.huffingtonpost.com/section/front-page/feed" icon="https://d3n8a8pro7vhmx.cloudfront.net/meridianhillpictures/pages/290/attachments/original/1505593680/press-logo-huffington-post.png?1505593680" template="HuffingtonPostArticleTemplate" />
    <add name="msnbc" url="http://www.msnbc.com/feeds/latest" icon="https://upload.wikimedia.org/wikipedia/commons/7/74/MSNBC_logo.png" template="MsnbcArticleTemplate" />
    <add name="nyTimes" url="http://rss.nytimes.com/services/xml/rss/nyt/US.xml" icon="https://www.sjpl.org/sites/default/files/images/1718/nyt.png" template="GenericArticleTemplate" />
    <add name="foxNews" url="http://feeds.foxnews.com/foxnews/latest" icon="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Fox_News_Channel_logo.svg/1024px-Fox_News_Channel_logo.svg.png" template="FoxNewsArticleTemplate" />
    <add name="redState" url="https://www.redstate.com/feed/" icon="https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1440,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1548949137/Screen_Shot_2019-01-31_at_10.37.09_AM_wsklna" template="RedStateArticleTemplate" />
    <add name="trumpTwitter" url="http://twitrss.me/twitter_user_to_rss/?user=realDonaldTrump" icon="https://cdn-images-1.medium.com/max/1200/1*jbXNuDJH3G09f3pUQyCmMA.png" template="TrumpTwitterArticleTemplate" />
  </channels>
</rssChannelsService>
