<?xml version="1.0"?>
<rssChannelsService>
  <channels>
    <add name="secondNexus" url="https://secondnexus.com/feed/" icon="https://secondnexus.com/wp-content/uploads/2015/04/secondnexus_logo.png" template="SecondNexusArticleTemplate" />
    <add name="huffingtonPost" url="https://www.huffingtonpost.com/section/front-page/feed" icon="https://assets.change.org/photos/1/ss/fz/MhssFZjmGGtHIdO-800x450-noPad.jpg?1529701555" template="HuffingtonPostArticleTemplate" />
    <add name="msnbc" url="http://www.msnbc.com/feeds/latest" icon="http://cityfig.com/images/msnbc_logo_sticker_3_7x2.5.jpg" template="MsnbcArticleTemplate" />
    <add name="nyTimes" url="http://rss.nytimes.com/services/xml/rss/nyt/US.xml" icon="https://static1.squarespace.com/static/590503c786e6c0c523a1f652/591a5a6a579fb30e8c4030de/5929e3b1579fb3d813d995e1/1496811046461/New_York_Times_logo_variation.jpg?format=2500w" template="NyTimesArticleTemplate" />
    <add name="foxNews" url="http://feeds.foxnews.com/foxnews/latest" icon="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Fox_News_Channel_logo.svg/1024px-Fox_News_Channel_logo.svg.png" template="FoxNewsArticleTemplate" />
    <add name="redState" url="https://www.redstate.com/feed/" icon="https://www.thewrap.com/wp-content/uploads/2018/04/RedStateLogo1.jpg" template="RedStateArticleTemplate" />
    <add name="trumpTwitter" url="http://twitrss.me/twitter_user_to_rss/?user=realDonaldTrump" icon="https://cdn-images-1.medium.com/max/1200/1*jbXNuDJH3G09f3pUQyCmMA.png" template="TrumpTwitterArticleTemplate" />
  </channels>
</rssChannelsService>
