<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="newsFeedConfiguration" type="Pch.Common.Config.NewsFeedConfiguration, Pch.Common, Version=1.0.0.0, Culture=neutral"/>-->
    <!--<section name="newsFeedConfiguration" type="Pch.Common.Config.NewsFeedConfiguration, Pch.Common, Version=1.0.0.0, Culture=neutral"/>-->

  </configSections>
  <appSettings configSource="App_Config\LOCAL\appSettings.config"/>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--<newsFeedConfiguration configSource="App_Config\LOCAL\  "/>-->
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>