<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rssService" type="BalancedBias.Common.Config.Sections.RssServiceSection"/>
  </configSections>
  <appSettings configSource="App_Config\LOCAL\appSettings.config"/>
  <rssService configSource="App_Config\_BASE\rssService.config"/>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>